@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Sora:wght@400;600;700&display=swap");

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #030303;
  color: white;
  font-family: "Inter", sans-serif;
  color-scheme: dark;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Sora", sans-serif;
}